.storeBox {
    overflow-y: auto;
    height: 65vh;
    background-color: orange;
}

.itemStockBox {
    overflow-y: auto;
    height: 62vh;
    background-color: orange;
}

.outStockBox {
    overflow-y: auto;
    height: 48vh;
    background-color: orange;
}

.waitTimeBox {
    overflow-y: auto;
    height: 62vh;
    background-color: orange;
}

.storeCard {
    margin: 4vh;
    background-color: lightgray;
    border-radius: 1vh;
}

.stockCard {
    margin: 2vh;
    background-color: lightgray;
    border-radius: 1vh;
}

#stores {
    padding: 2vh;
}

div#mainBlock {
    background-color: #2e2b2e;
}

#missingItemBody{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2e2b2e;
}

#shoppingListBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2e2b2e;
}

#nearMeRow {
    padding-top: 2vh;
}

#waitTimeBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2e2b2e;
}

#itemStockBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2e2b2e;
}

#loginBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2e2b2e;
}

#searchByIngredientBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2e2b2e;
}

#inputBox {
    background-color: orange;
    width: 30vw;
    text-align: center;
}

.appBrand {
    display: inline;
}

#pepe {
    color: white;
}

#grocer {
    color: orange;
    margin-right: 1vw;
}

#enterItem {
    padding-top: 1vh;
    color: white;
}

#storeNameMissingItem {
    padding-top: 1vh;
    color: white;
}

#enterWaitTime {
    padding-top: 1vh;
    color: white;
}

#waitTimeTitle {
    padding-top: 1vh;
    color: white;
}

.sliderCol {
    padding-left: 5vw;
}

#submitMissingItem {
    color: white;
}

#waitTimeText {
    padding-top: 1vh;
    color: white;
}

#inStock {
    color: white;
}

.navbar-nav > li {
    margin-left: 2vw;
    margin-right: 2vw;
}

#notFound {
    margin: 5vh;
}

#search {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#closeBtn {
    padding-top: 2vh;
    padding-bottom: 4vh;
}

#logOutBtn {
    padding-top: 4vh;
    padding-bottom: 2vh;
}

.menuBtn {
    height: 70px;
    background-color: #292929;
    border-radius: 12px;
    margin-top: 25px;
}
#menuBody {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #292929;
}
.menuParagraph {
    color: white;
    text-align: center;
}

div #grey {
    background-color: #808080;
}

div #fb-blue {
    background-color: #1774eb;
    color:white;
    font-weight: bold;
}

div #cream {
    background-color: #FFA31A;
}
#cream, #grey {
    border: #FFA31A solid 0px;
    font-weight: bold;
    color: white;
}

#menuHeader {
    border: black solid 1px;
    background-color: black;
    text-align: center;
}

#aboutUsBody {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #292929;
}

#aboutUsHtml {
    box-sizing: border-box;
}

.aboutUsCol {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    /*padding: 0 8px;*/
}

.aboutUsCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    background-color: #FFA31A;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.aboutUsContainer {
    padding: 0 16px;
}

.aboutUsContainer::after, .aboutUsRow::after {
    content: "";
    clear: both;
    display: table;
}

.aboutUsTitle {
    color: white;
}

.aboutUsBtn {
    border: none;
    outline: 0;
    display: inline-block;
    color: white;
    padding: 8px;
    background-color: #808080;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.aboutUsBtn:hover {
    background-color: #555;
}
.textrow {
    display: flex;
    justify-content: center;
}

.textcolumn {
    margin: 20px;
}

@media screen and (max-width: 800px) {
    .aboutUsCol {
        width: 100%;
        display: block;
    }
}

.nameTitle {
    font-size: x-large;
}