<html lang="en" id="aboutUsHtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>About Us</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" href="imgs/full%20size%20favicon.PNG" type="image/x-icon" sizes="16x16">


</head>
<!--################################################FIREBASE ZONE. DO NOT TOUCH ####################################-->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>


<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"/>

<!--firebase API config files-->
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyBqB5QHNRRquDJxd9OiXXa9c33dI4zDSDA",
        authDomain: "firebaetest-6e21a.firebaseapp.com",
        databaseURL: "https://firebaetest-6e21a.firebaseio.com",
        projectId: "firebaetest-6e21a",
        storageBucket: "firebaetest-6e21a.appspot.com",
        messagingSenderId: "763860546362",
        appId: "1:763860546362:web:35a3ed2ac35df4abd5d603",
        measurementId: "G-V56860GVZL"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
<!--################################################ END FIREBASE ZONE ####################################-->
<!--CHECK PERSISTENCE-->
<script>
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            console.log("Logged in OK");
        } else {
            console.log("NOPE not logged in");
            window.location.href = "/";
        }
    });
</script>
<body id="aboutUsBody">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" id='pepeGrocer' href="/menu">
        <span id="pepe">pepe</span><span id="grocer">Grocer</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-light">
            </span>
    </button>

    <div class="collapse navbar-collapse" id='navbarNav'>
        <ul class="navbar-nav w-100 mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/underConstruction.html">Report Missing Items/Wait Time</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/search">Search by Ingredients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/underConstruction.html">Shopping List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/underConstruction.html">Store Lineup Near Me<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active">About Us</a>
            </li>
            <li class="nav-item">
                <a data-toggle="modal" data-target="#logOutModal" class="nav-link btn btn-secondary" type='button' id='signout'
                   style='color:aliceblue'>Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  style="background-color: orange">
            <div class="modal-body">
                <div class="container-fluid aboutUsContainer">
                    <div class="row aboutUsRow">
                        <h3>Are you sure you want to sign out?</h3>
                    </div>
                    <div class="row aboutUsRow">
                        <div class="col-6 offset-3">
                            <div class="row aboutUsRow justify-content-center" id="logOutBtn">
                                <button type="button" id="confirmLogOut" class="btn btn-dark btn-block">Log Out</button>
                            </div>
                            <div class="row aboutUsRow justify-content-center" id="closeBtn">
                                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="row aboutUsRow">
                        <img src="imgs/monkaS.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='mainBlock' class="container vertical-align table-responsive searchByIngredientsContainer">
<div class="description" style="text-align:center; color: #FFA31A;">
  <h1>Our Team</h1>
    <div class="textrow">
    <p class="textcolumn">
      When you’re deciding,
      <br>What to buy today?
      <br>The best time to avoid lines?
    </p>
    <p class="textcolumn">
      Minimize the spread<br>
      Save that precious time shopping<br>
      Social distancing
    </p>
    </div>
    <p>We are a team of students collaborating across a
        great range of time-zones that quite work around the clock to bring you the solution to your shopping needs.</p>
</div>

    <div class="row aboutUsRow">
  <div class="column aboutUsCol">
    <div class="card aboutUsCard">
      <img src="/imgs/daniel.jpg" alt="Daniel" style="width:100%">
      <div class="container aboutUsContainer">
        <h2 class="nameTitle">Daniel Liu      </h2>
        <p class="aboutUsTitle">Backend Developer</p>

        <p>The Man</p>
          <spam>Github: <a href="https://github.com/danielscliu/">danielscliu</a></spam>
        <p><button class="aboutUsBtn">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column aboutUsCol">
    <div class="card aboutUsCard">
      <img src="/imgs/kevin.jpg" alt="Kevin" style="width:100%">
      <div class="container aboutUsContainer">
        <h2 class="nameTitle">Kevin Shih      </h2>
        <p class="aboutUsTitle">Backend Developer</p>
        <p>The Myth</p>
        <spam>Github: <a href="https://github.com/shihkster1015/">shihkster1015</a></spam>
        <p><button class="aboutUsBtn">Contact</button></p>
      </div>
    </div>
  </div>
  
    <div class="column aboutUsCol">
    <div class="card aboutUsCard">
      <img src="/imgs/sepehr.jfif" alt="Sepehr" style="width:100%">
      <div class="container aboutUsContainer">
        <h2 class="nameTitle">Sephrman</h2>
        <p class="aboutUsTitle">Frontend Developer</p>
        <p>The Sepehrman</p>
        <spam>Github: <a href="https://github.com/jsui5">sepehrman</a></spam>
        <p><button class="aboutUsBtn">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column aboutUsCol">
    <div class="card aboutUsCard">
      <img src="/imgs/jay.jfif" alt="Jay" style="width:100%">
      <div class="container aboutUsContainer">
        <h2 class="nameTitle">Jay Sui      </h2>
        <p class="aboutUsTitle">Frontend Developer</p>
        <p>The Legend</p>
        <spam>Github: <a href="https://github.com/jsui5">jsui5</a></spam>
        <p><button class="aboutUsBtn">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div class="bottom_page">



</div>
</div>
</body>

<!--LOGOUT SCRIPT-->
<script>
    const logout = document.querySelector("#confirmLogOut");
    logout.addEventListener('click', function(){
        firebase.auth().signOut();
        console.log("user signed out");
        window.location.href = "/";
    });
</script>
</html>
