<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" ,
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="imgs/full%20size%20favicon.PNG" type="image/x-icon" sizes="16x16">
    <title>Current Store Item Stock</title>

</head>

<body id="itemStockBody">
<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!--################################################FIREBASE ZONE. DO NOT TOUCH ####################################-->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>


<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>


<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"/>

<!--firebase API config files-->
<script>
    var firebaseConfig = {
        apiKey: "AIzaSyBqB5QHNRRquDJxd9OiXXa9c33dI4zDSDA",
        authDomain: "firebaetest-6e21a.firebaseapp.com",
        databaseURL: "https://firebaetest-6e21a.firebaseio.com",
        projectId: "firebaetest-6e21a",
        storageBucket: "firebaetest-6e21a.appspot.com",
        messagingSenderId: "763860546362",
        appId: "1:763860546362:web:35a3ed2ac35df4abd5d603",
        measurementId: "G-V56860GVZL"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
<!--################################################ END FIREBASE ZONE ####################################-->
<!--CHECK PERSISTENCE-->
<script>
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            console.log("Logged in OK");
        } else {
            console.log("NOPE not logged in");
            window.location.href = "/";
        }
    });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand pepeGrocer" href="/menu">
        <span id="pepe">pepe</span><span id="grocer">Grocer</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-light">
            </span>
    </button>

    <div class="collapse navbar-collapse" id='navbarNav'>
        <ul class="navbar-nav w-100 mr-auto">
            <li class="nav-item active">
                <a class="nav-link active">Report Missing Items/Wait Time</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/search">Search by Ingredients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shoppinglist">Shopping List</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" href="/lineup">Store Lineup Near Me<span-->
            <!--                            class="sr-only">(current)</span></a>-->
            <!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/aboutUs">About Us</a>
            </li>
            <li class="nav-item">
                <a data-toggle="modal" data-target="#logOutModal" class="nav-link btn btn-secondary" type='button'
                   id='signout'
                   style='color:aliceblue'>Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: orange">
            <div class="modal-body">
                <div class="container-fluid searchByIngredientsContainer">
                    <div class="row">
                        <h3>Are you sure you want to sign out?</h3>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3">
                            <div class="row justify-content-center" id="logOutBtn">
                                <button type="button" id="confirmLogOut" class="btn btn-dark btn-block"> Log Out
                                </button>
                            </div>
                            <div class="row justify-content-center" id="closeBtn">
                                <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <img src="imgs/monkaS.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div id='mainBlock' class="container vertical-align table-responsive missingItemContainer">
    <!--We are wrapping this in a form to send it off to server-->
    <!-- <form> -->
    <div id='storeNameMissingItem'>
        <h3 id="storeName" style="text-align: center"><%=name%> </h3>
        <input class="" type="hidden" id="storeID" name= storeID>
        <input class="" type="hidden" name="">
    </div>
    <!-- </form> -->

    <div class="row justify-content-center" style="padding-top: 2vh">
        <button type="button" class="btn btn-secondary" onclick="window.location='/time'">Back to store list</button>
    </div>

    <hr>

</div>
<div id="stockItems" class="container vertical-align table-responsive searchByIngredientsContainer">
    <div id='itemStock'>
        <h6 id='itemStatus' style="color: white">Current out of stock items: </h6>
    </div>
    <div class="itemStockBox">
  
        <% for( let index = 0; index < inventory.length; index++ ) { %>

            
        <div class="card storeCard">
            <div class="card-body">
                <div id="listOfItems" class="row">
                    <h6><%= inventory[index][0]%> is currently out of stock </h6>
                </div>
            </div>
        </div>
        
        <% } %>

    </div>
</div>
<hr>


</body>
</html>