<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pepeGrocer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="imgs/full%20size%20favicon.PNG" type="image/x-icon" sizes="16x16">
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <!--//FACEBOOK LOGIN SHARE-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '555830321768350',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v7.0'
            });
        };
    </script>

    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            background-color: #292929;
            /*background-color: black;*/
        }

        form {
            justify-content: center;
            padding: 5px 10px;
            /* border: red solid 3px; */
            /* border: white solid 1px; */
            height: 260px;
            /* text-align: center; */
        }


        #login {
            width: 100px;
            height: 50px;
        }


        header {

            text-align: center;
        }

        button {
            background-color: #FFA31A;
            border: #FFA31A solid 1px;
            /* left: 270px; */
            top: 10px;
            /* position: relative; */
            width: 5px;
            height: 5px;
            border-radius: 25px;
        }

        div.container input {
            text-align: center;
            border: white solid 2px;
            position: relative;
        }

        img {
            padding-top: 10vh;
            height:30vh;
            width: auto;
        }

        #pepe {
            position: absolute;
            bottom: -15vh;
            left: -15vh;
            width: 150px;
            height: 150px;
        }

    </style>

</head>


<!--<form action="" method="post" style="color: white;">-->
<div id='mainBlock' class="container vertical-align table-responsive missingItemContainer" style="height: 100vh">
    <div class="row" style="margin-left: 1vw">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Try this app out!"
           data-url="http://www.pepegrocer.herokuapp.com" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <div class="fb-share-button" data-href="http://www.pepegrocer.herokuapp.com" data-layout="button" data-size="small" style="padding-left: 1vw">
            <a target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.pepegrocer.herokuapp.com%2F&amp;src=sdkpreparse"
               class="fb-xfbml-parse-ignore">Share</a></div>
    </div>


    <div class="row justify-content-center">
        <h3><span style="color: white;">pepe</span><span style="color: #FFA31A;">Grocer</span></h3>
    </div>
    <div class="row justify-content-center" style="padding-top: 3vh">
        <h5 style="font-weight: bold;color: #AF640C; text-align: center">Don’t troll yourself waiting in line</h5>
    </div>
    <div class="row justify-content-center" style="padding-top: 3vh; padding-left: 3vw; padding-right: 3vw">
        <p style="color: white; text-align: center">This app is in its early stages of development</p>
        <p style="color: white; text-align: center">Don't become a meme using this app irresponsibly</p>
        <p style="color: white; text-align: center;">For now, You will get to experience the very basics of what this
            app has to offer</p>
    </div>
    <div class="row justify-content-center userlog" style="padding-top: 2vh">
        <!-- <h3 >Login:</h3><input class="box" type="text" name="username">
        <h3>Password: </h3><input class="box" type="password" name="password"><br> -->
        <button onclick="window.location='/fLogin'" id="login" type="submit" name="submit"><h4
                    style="color: white;">Start</h4></button>
        <!--</form>-->

    </div>
    <!--    <div style="height: 100px" class="access">-->
    <!--        &lt;!&ndash; <span style="color: white; margin-right: 10px;">First Time? <a href="../../public/fireBase.html" style="color: #FFA31A;">Sign Up</a></span></span><br>-->
    <!--        <a style="color: #FFA31A; left: 500px;" href="">Forgot Password?</a> &ndash;&gt;-->

    <!--    </div>-->
    <div class="row justify-content-center" id="pepeImg">
        <img id="pepe " src="/imgs/pepe.png"></img>
    </div>

</div>


</body>

<script>
    var pepeLimit = 0;
    document.getElementById('pepe ').addEventListener('click', myFunction);

    function myFunction() {
        console.log(pepeLimit);
        if (pepeLimit === 4) {
            document.getElementById('pepe ').setAttribute("src", "/imgs/tenor-1.gif");
        } else {
        }
        console.log(pepeLimit);
        pepeLimit++;
    }

</script>
</html>