<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="shortcut icon" href="imgs/full%20size%20favicon.PNG" type="image/x-icon" sizes="16x16">

    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            background-color: #292929;
        }
        form {
            justify-content: center;
            padding: 5px 10px;
            border: white solid 1px;
            height: 260px;
        }
        /* .container {
            text-align: center;
        }   */

        #login {
            width: 100px;
            height: 50px;
        }


        header {
      border: black solid 1px;
      background-color: black;
      text-align: center;
    }
        input.box {
            height: 5vh;
            width: 30vw;

        }
    button {
        background-color: #FFA31A;
        border: #FFA31A solid 0px;
        position: absolute;
        width: 5px;
        height: 5px;
    }

    img {
        height: 32vh;
    }

    </style>

</head>
<body>
    <header><h3><span style="color: white;">pepe</span><span style="color: #FFA31A;">Grocer</span></h3></header>

<form action="" method="post" style="color: white;">
<div class="container">
<h2>Username:</h2><input class="box" type="text" name="username">
<h2>Password: </h2><input class="box" type="password" name="password">
</div>
<div class="">
    <button onclick="window.location='/menu'" id="login" type="submit" name="submit"><span>Log in</span></button>
<a style="color: powderblue;" href="">Sign Up</a>
</div>
</form>
<div>
    <img src="/imgs/pepe.png"></img>

</div>


</body>
</html>