<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" ,
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="imgs/full%20size%20favicon.PNG" type="image/x-icon" sizes="16x16">

    <title>Shopping List</title>
</head>

<!--################################################FIREBASE ZONE. DO NOT TOUCH ####################################-->
<firebase><!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>


    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>


    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"/>

    <!--firebase API config files-->
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyBqB5QHNRRquDJxd9OiXXa9c33dI4zDSDA",
            authDomain: "firebaetest-6e21a.firebaseapp.com",
            databaseURL: "https://firebaetest-6e21a.firebaseio.com",
            projectId: "firebaetest-6e21a",
            storageBucket: "firebaetest-6e21a.appspot.com",
            messagingSenderId: "763860546362",
            appId: "1:763860546362:web:35a3ed2ac35df4abd5d603",
            measurementId: "G-V56860GVZL"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
</firebase>
<!--################################################ END FIREBASE ZONE ####################################-->

<body>

<!--FRONT END: PAGE WILL AUTOMATICALLY RETREIVE LIST (SHOPPING LIST ARRAY [[APPLE: TRUE], [BANANA:FALSE]]) -->
<!--FROM SERVER. FIND A WAY TO SHOW ITEMS (TRUE FOR BOUGHT, FALSE FOR NEED TO BUY)-->

<!--CREATE BUTTON TO ADD TO THIS LIST-->
<!--CREATE BUTTON TO WRITE TO SERVER. -->
<!--WHEN WRITING, SEND DATA THE SAME AS RECEIVED. [[APPLE: FALSE], [BANANA:TRUE]]-->
<!--AJAX CODE WILL BE PROVIDED-->

<% list.forEach(dict => {%>
    <% console.log(list[i])%>
<!--<span><%= dict[0] %></span>-->
<!--<p><%= dict[1] %></p>-->
<% }); %>

</body>

<script>
    $(document).ready(function () {
        // COMMENTED OUT SECTION GOOD FOR TESTING
        $.ajax({
            type: 'POST',
            data: {
                "uid": 1 //user.uid
            },
            url: '/shoppingListStartUid'
        })
        // firebase.auth().onAuthStateChanged(function (user) {
        //     if (user) {
        //         console.log("loggedin");
        //         $.ajax({
        //             type: 'POST',
        //             data: {
        //                 "uid": user.uid
        //             },
        //             url: '/shoppingListStartUid'
        //         })
        //     } else {
        //         console.log("NOPE not logged in");
        //     }
        // })
    })
</script>

<script>


</script>

</html>